{% extends 'portfolio/layout.html' %}
{% block title %}Contact{% endblock %}

{% block content %}
<section class="contact-section">
    <div class="contact-container">
        <h1>Contact Me</h1>
        <p>Feel free to reach out! Whether you have an opportunity, a question, or just want to connect, I’m always open to conversations and collaborations.</p>

        <div class="contact-details">
            <p><strong>Email:</strong> <a href="mailto:indokrisgraphics@gmail.com">indokrisgraphics@gmail.com</a></p>
            <p><strong>Location:</strong> <a href="">Pune, India </a></p>
            <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/krish-kumar-083756334" target="_blank">Krish Kumar</a></p>
            <p><strong>GitHub:</strong> <a href="https://github.com/IndoKris" target="_blank">IndoKris</a></p>
        </div>

        <p class="freelance-note">
            I’m currently open to freelancing opportunities—especially ambitious or large-scale projects.
        </p>
    </div>
</section>
{% endblock %}
