{% extends 'portfolio/layout.html' %}
{% load static %}

{% block content %}
<section class="projects-section">
  <h2 class="section-title">My Projects</h2>

  <div class="projects-container">
    <a href="https://github.com/IndoKris/whatsapp-ai-reply-bot" class="project-card" target="_blank">WhatsApp AI Reply Bot</a>
    <a href="https://github.com/IndoKris/Guess-The-Number-Game" class="project-card" target="_blank">Guess The Number Game</a>
    <a href="https://github.com/IndoKris/Tic-Tac-Toe-Game" class="project-card" target="_blank">Tic-Tac-Toe Game</a>
    <a href="https://github.com/IndoKris/Snake-Gun-Game" class="project-card" target="_blank">Snake Gun Game</a>
    <a href="https://github.com/IndoKris/Metric-Converter" class="project-card" target="_blank">Metric Converter</a>
  </div>
</section>
{% endblock %}
